.bnr-yoga {
  padding: 0;
  margin: 15px 0 0;

  @keyframes yogaGradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

  a,
  a:hover {
    text-decoration: none;
  }

  .bnr-block {
    margin: 0;
    width: 100%;
    height: 60px;
    overflow: hidden;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: yogaGradient 15s ease infinite;
    color: #fff;
    display: flex;
    border-radius: 1px;

    .bnr-line {
      margin: 0 auto;
      display: flex;

      .bnr-logo {
        margin-right: 15px;
        height: 100%;
        display: flex;

        img {
          max-height: 52px;
          align-self: center;
        }
      }

      .bnr-title {
        color: white;
        font-size: 24px;
        line-height: 60px;
        font-weight: bold;
        text-align: center;

        span {
          transition: all .3s ease-in-out;
        }

        @media all and (min-width: 768px) {
          min-width: 204px;
        }
      }
    }

    &:hover {
      animation: none;

      .bnr-title {
        span {
          zoom: 1.05;
        }
      }
    }
  }
}
