.bannerimg {
  position: relative;
}
.bannerimg .text-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  z-index: 99;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 80px;
  font-size: 34px;
  color: #3f51b5;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/*# sourceMappingURL=bnr-sales.css.map */