.main-menu {
  .opt-link {
    @media (max-width: 767px) {

    }

    @media (min-width: 768px) {
      position: absolute;
      right: 50%;
      margin-right: 124px;
      margin-top: -1em;
    }
  }
}
