.productpage {
  .product-left {
    @media (min-width: 768px) {
      position: sticky;
      top: 0;
    }
  }

  .boc_order_category_btn {
    text-transform: none;
    margin-top: 1px;
    margin-right: 1em;
    padding: 0 .75em;

    background: #f5f5f5;
    border: 1px solid;
    font-weight: 400;
  }
}

.categorypage {
  .product-block.product-thumb {
    .boc_order_category_btn {
      position: absolute;
      top: -60px;
      left: 0;
      right: 0;
      width: 100%;

      background: #f5f5f5;
      border: 1px solid;
      font-weight: 400;
    }
  }
}

.list-unstyled.price {
  width: 100%;

  li {
    width: 100%;
  }

  .line-product-price {
    display: flex;
    justify-content: space-between;

    .price-main {
    }

    .price-corp {
      color: #999;
      text-transform: none;
      font-size: 14px;
    }
  }
}

.list-unstyled.product-properties {
  li {
    color: #333;
    line-height: 21px;
    padding: 3px;
  }
}