{{ header }}
<div id="product-manufacturer" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content"class="{{ class }}">{{ content_top }}
      <h2 class="page-title">{{ heading_title }}</h2>
      {% if products %}
      <div class="category_filter">
        <div class="col-md-4 btn-list-grid">
          <div class="btn-group">
          	<button type="button" id="grid-view" class="btn btn-default grid" title="{{ button_grid }}"><i class="fa fa-th"></i></button>
            <button type="button" id="list-view" class="btn btn-default list" title="{{ button_list }}"><i class="fa fa-th-list"></i></button>
          </div>
        </div>
		<div class="compare-total"><a href="{{ compare }}" id="compare-total">{{ text_compare }}</a></div>
		<div class="pagination-right">
		 <div class="sort-by-wrapper">
			<div class="col-md-2 text-right sort-by">
			  <label class="control-label" for="input-sort">{{ text_sort }}</label>
			</div>
			<div class="col-md-3 text-right sort">
			  <select id="input-sort" class="form-control" onchange="location = this.value;">
				{% for sorts in sorts %} 
				{% if sorts.value == '%s-%s'|format(sort, order) %}
				<option value="{{ sorts.href }} " selected="selected">{{ sorts.text }}</option>
				{% else %}
				<option value="{{ sorts.href }} ">{{ sorts.text }} </option>
				 {% endif %}
				{% endfor %}
			  </select>
			</div>
		 </div>
		 <div class="show-wrapper">
			<div class="col-md-1 text-right show">
			  <label class="control-label" for="input-limit">{{ text_limit }}</label>
			</div>
			<div class="col-md-2 text-right limit">
			  <select id="input-limit" class="form-control" onchange="location = this.value;">
				{% for limits in limits %}
				{% if limits.value == limit %}
				<option value="{{ limits.href }} " selected="selected">{{ limits.text }}</option>
				{% else %}
				<option value="{{ limits.href }} ">{{ limits.text }} </option>
				{% endif %}
				{% endfor %}
			  </select>
			</div>
		</div>
      </div>
	  </div>
      <br />
      <div class="row">
        {% for product in products %}
        <div class="product-layout product-list col-xs-12">
          <div class="product-block product-thumb">
		  	 <div class="product-block-inner">
            <!-- <div class="image">
				<a href="{{ product.href }} "><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
				{% if not product.special %}        
				{% else %}
				<div class="saleback">
				<span class="saleicon sale">Sale</span>         
				</div>
				{% endif %}
				
			</div> -->
			<div class="image">
                      {% if product.thumb_swap %}
                      <a href="{{ product.href }}">
                      <img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive reg-image"/>
                      <img class="img-responsive hover-image" src="{{ product.thumb_swap }}" title="{{ product.name }}" alt="{{ product.name }}"/>
                      </a>
                      {% else %}
                      <a href="{{ product.href }}">
                      <img src="{{ product.thumb }}" title="{{ product.name }}" alt="{{ product.name }}" class="img-responsive"/></a>
                      {% endif %}

                    {% if not product.special %}        
					{% else %}
					<div class="saleback">
					<span class="saleicon sale">Sale</span>         
					</div>
					{% endif %}
					<!--{% if product.special %}
					<span class="percentsaving">{{ product.percentsaving }}%</span>
					{% endif %}-->

					<div class="button-group -manufacturer">
					   <button class="wishlist" type="button" data-placement="right" title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"></button>
					   <button class="compare" type="button" data-placement="right" title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');"></button>
					   <div class="quickview" data-placement="right" title="Quickview" ><a href="{{ product.quick }}">Quick View</a></div>
					   <button type="button" data-placement="right" title="{{ button_cart }}" class="addtocart" onclick="cart.add('{{ product.product_id }} ');">{{ button_cart }}</button>
					</div>
					<!--{# if product.rating #}
					<div class="rating">
					{% for i in 1..5 %}
					{% if product.rating < i %}
					<span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
				    {% else %}
					<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
					{% endif %}
					{% endfor %}
					</div>
					{# endif #}-->
                      
            </div>

            <div class="product-details">
 
			<div class="caption">

                <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
				
				

                <p class="desc">{{ product.description }}</p>


				
				{% if product.price %}
        			<p class="price">
       			    {% if not product.special %}
          			{{ product.price }}
         			{% else %}
         			<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
			        {% endif %}
  		            {% if product.tax %}
		            <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          			{% endif %}
          			{% if product.special %}
					<span class="percentsaving">{{ product.percentsaving }}%</span>
					{% endif %}
			        </p>
	            {% endif %}
				
				
				{# if product.rating #}
							 <div class="rating">
							 {% for i in 1..5 %}
							 {% if product.rating < i %}
							<span class="fa fa-stack"><i class="fa fa-star off fa-stack-2x"></i></span>
							 {% else %}
							 <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
							 {% endif %}
							 {% endfor %}
							 </div>
							{# endif #}	

               


               
               <!--<div class="btn-wish-compare">
				 <div class="button-group">
	                <button type="button" class="wishlist" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"></button>
	                <button type="button" class="compare" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"></button>
	            </div>  
	            <div class="button-group">
		              <button type="button" class="addtocart" onclick="cart.add('{{ product.product_id }} ');"><i class="fa fa-shopping-cart" aria-hidden="true"></i>{{ button_cart }}
		               </button>
		              <button class="wishlist" type="button" data-toggle="tooltip" data-placement="bottom" title="{{ button_wishlist }} " onclick="wishlist.add('{{ product.product_id }} ');"><i class="fa fa-heart"></i></button>
		              <button class="compare" type="button" data-toggle="tooltip" data-placement="bottom" title="{{ button_compare }} " onclick="compare.add('{{ product.product_id }} ');"><i class="fa fa-exchange"></i></button>
		              <div class="quickview" data-toggle="tooltip" data-placement="bottom" title="Quickview" ><a href="{{ product.quick }}">Quick View<i class="fa fa-eye" aria-hidden="true"></i>
		      </a></div>
		        </div>
			</div>-->
             
              </div>
			  <div class="list-right">
			  <!-- <div class="list-right-price">
			  {% if product.price %}
        			<p class="price">
       			    {% if not product.special %}
          			{{ product.price }}
         			{% else %}
         			<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
			        {% endif %}
  		            {% if product.tax %}
		            <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          			{% endif %}
			        </p>
	            {% endif %}
			  </div> -->
			  
			  <!-- <div class="list-buttoncart">
			  <div class="button-group">
			  <button type="button" class="addtocart" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }} ');">{{ button_cart }}</button>
			  </div>
			  </div> -->
			  
			  </div>
            </div>
			</div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="pagination-wrapper">
			<div class="col-sm-6 text-left page-link">{{ pagination }}</div>
			<div class="col-sm-6 text-right page-result">{{ results }}</div>
	   </div> 
      {% else %}
      <p><?php echo $text_empty; ?></p>
      <div class="buttons">
        <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
      </div>
      {% endif %}
     {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}