<footer>
  <div class="container">
    <a href="https://www.opencart.com" target="_blank">{{ text_project }}</a>|<a href="http://docs.opencart.com/en-gb/introduction/" target="_blank">{{ text_documentation }}</a>|<a href="https://forum.opencart.com" target="_blank">{{ text_support }}</a><br />
  </div>
</footer>
<div class="test-010" hidden></div>
</body>
</html>
