{{ header }}
<div class="content-block">
 <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
<div class="content">
  {{ column_left }}
    <div id="product-manufacturer" class="content-center">
     {{ content_top }}
      <h1 class="heading-title">{{ heading_title }}</h1>
      {% if categories %}
      {% for category in categories %}
      <h2 class="heading-title m-list-title" id="{{ category.name }}">{{ category.name }}</h2>
      {% if category.manufacturer %}
      {% for manufacturers in category.manufacturer|batch(4) %}
      <div class="row-link"> {% for manufacturer in manufacturers %}
        <a href="{{ manufacturer.href }}">{{ manufacturer.name }}</a>
        {% endfor %} </div>
      {% endfor %}
      {% endif %}
      {% endfor %}
      {% else %}
      <p>{{ text_empty }}</p>
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {% endif %}
      </div>
    {{ column_right }}
</div>
{{ content_bottom }}
</div>
{{ footer }}