
.TSCountDownTimer {
	display: block;
	text-align: center;
	margin: 5px 0;
	padding: 0;
}
.cdtTitle {
	display: block;
	margin: 0 0 3px 0;
	padding: 0;
	font-size: 12px; /*backend*/
	font-weight: normal; /*backend*/
	color: #616161; /*backend*/
	line-height: 100%;
}
.cdtTablet {
	display: block;
	width: 100%; /* 220px; */
	margin: 0 auto;
	padding: 0;
}
.cdtDays,
.cdtHrs,
.cdtMins,
.cdtSecs {
	display: inline-block;
	margin: 0px 3px;
	width: auto;
	min-width: 41px;
	overflow: hidden;
	text-align: center;
}
.cdtDays div:first-child,
.cdtHrs div:first-child,
.cdtMins div:first-child,
.cdtSecs div:first-child {
	display: block;
	width: auto;
	min-width: 41px;
	height: 41px;
	margin: 0;
	padding: 0;
	background-color: none; /* #cccccc; */ /*backend*/
	background-image: none; /* url('image/gradient.png'); */ /*backend*/
	background-repeat: repeat-x;
	background-size: 100% 100%;
	border-width: 0; /* 1px; */ /*backend*/
	border-style: solid;
	border-color: #919191; /*backend*/
	border-radius: 0; /* 3px; */ /*backend*/
	text-align: center;
	vertical-align: top;
	line-height: 41px;
}
.cdtDays div:first-child span,
.cdtHrs div:first-child span,
.cdtMins div:first-child span,
.cdtSecs div:first-child span {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 0px;
	font-size: 28px;  /*backend*/
	font-weight: bold;  /*backend*/
	color: #616161; /*backend*/
	text-align: center;
	vertical-align: top;
	line-height: 39px;
}
.cdtDays div:last-child,
.cdtHrs div:last-child,
.cdtMins div:last-child,
.cdtSecs div:last-child {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 10px;
	color: #616161; /*backend (Separator color)*/
	text-align: center;
	vertical-align: top;
	line-height: 120%;
}
.cdtSeparator1,
.cdtSeparator2,
.cdtSeparator3 {
	display: inline-block;
	width: 8px;
	max-width: 8px;
	margin: 0;
	padding: 0;
	font-size: 28px;  /*backend (Digital cell)*/
	font-weight: bold;  /*backend (Digital cell)*/
	color: #616161; /*backend*/
	text-align: center;
	vertical-align: top;
	line-height: 39px;
}
