{{ header }}{{ column_left }} 
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %} 
        <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
        {% endfor %} 
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form" class="form-horizontal">
		
		  <div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_status">{{ entry_status }}</label>
			<div class="col-sm-10">
				<select name="ts_countdown_timer_status" id="ts_countdown_timer_status" class="form-control">
					{% if (ts_countdown_timer_status) %} 
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
					{% else %} 
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %} 
				</select>
			</div>
		  </div>
		  <br>
		  
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-settings" data-toggle="tab">{{ tab_settings[0] }}</a></li>
            <li><a href="#tab-customize" data-toggle="tab">{{ tab_customize }}</a></li>
            <li><a href="#tab-help" data-toggle="tab">{{ tab_help }}</a></li>
          </ul>
	      <div class="tab-content">

<div class="tab-pane active" id="tab-settings">
<fieldset>
	<legend>{{ text_settings_title_1 }}</legend>
	<ul class="col-md-3 nav nav-pills nav-stacked">
		{% for pid,position in timer_positions %} 
		<li {% if (pid == 0) %}class="active"{% endif %}><a href="#tab-settings-{{ position }}" data-toggle="tab">{{ tab_settings[position] }}</a></li>
		{% endfor %} 
	</ul>
	<div class="col-md-9 tab-content" style="border-left:1px solid #ededed;">
		{% for pid,position in timer_positions %} 
		<div class="tab-pane {% if (pid == 0) %}active{% endif %}" id="tab-settings-{{ position }}">
			<div class="form-group" style="padding-top:0;">
				<div class="pull-right container-fluid">
					<button type="button" class="btn btn-success" onclick="enableAllSelects('{{ position }}');">{{ button_enable_all }}</button>
					<button type="button" class="btn btn-danger" onclick="disableAllSelects('{{ position }}');">{{ button_disable_all }}</button>
				</div>
				<legend style="border:0; margin:5px 0 0 25px;">{{ tab_settings[position] }}</legend>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="ts_countdown_timer_{{ position }}">{{ entry_status }}</label>
				<div class="col-sm-9">
					<select name="ts_countdown_timer_settings[{{ position }}][status]" id="ts_countdown_timer_{{ position }}" class="form-control">
					{% if (ts_countdown_timer_settings[position]['status'] is defined and ts_countdown_timer_settings[position]['status']) %} 
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
					{% else %} 
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %} 
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="ts_countdown_timer_{{ position }}_title">{{ entry_title_timer }}</label>
				<div class="col-sm-9">
					<select name="ts_countdown_timer_settings[{{ position }}][title]" id="ts_countdown_timer_{{ position }}_title" class="form-control" onchange="titleTextEnable('{{ position }}');">
					{% if (ts_countdown_timer_settings[position]['title'] is defined and ts_countdown_timer_settings[position]['title']) %} 
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
					{% else %} 
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %} 
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="ts_countdown_timer_{{ position }}_title_text">{{ entry_title_text_timer }}</label>
				<div class="col-sm-9">
					{% for language in languages %} 
					<div class="input-group" style="margin-bottom: 10px;">
						<span class="input-group-addon"><img src="language/{{ language['code'] }}/{{ language['code'] }}.png" title="{{ language['name'] }}" /></span>
						<input type="text" name="ts_countdown_timer_settings[{{ position }}][title_text][{{ language['language_id'] }}]" id="ts_countdown_timer_{{ position }}_title_text_{{ language['language_id'] }}" value="{{ ts_countdown_timer_settings[position]['title_text'][language['language_id']] is defined ? ts_countdown_timer_settings[position]['title_text'][language['language_id']] : text_timer_title }}" class="form-control" />
					</div>
					{% endfor %} 
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="ts_countdown_timer_{{ position }}_separator"><span data-toggle="tooltip" title="{{ entry_separator_timer_help }}">{{ entry_separator_timer }}</span></label>
				<div class="col-sm-9">
					<select name="ts_countdown_timer_settings[{{ position }}][separator]" id="ts_countdown_timer_{{ position }}_separator" class="form-control">
					{% if (ts_countdown_timer_settings[position]['separator'] is defined and ts_countdown_timer_settings[position]['separator']) %} 
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
					{% else %} 
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %} 
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="ts_countdown_timer_{{ position }}_caption"><span data-toggle="tooltip" title="{{ entry_caption_timer_help }}">{{ entry_caption_timer }}</span></label>
				<div class="col-sm-9">
					<select name="ts_countdown_timer_settings[{{ position }}][caption]" id="ts_countdown_timer_{{ position }}_caption" class="form-control">
					{% if (ts_countdown_timer_settings[position]['caption'] is defined and ts_countdown_timer_settings[position]['caption']) %} 
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
					{% else %} 
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %} 
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="ts_countdown_timer_{{ position }}_days">{{ entry_days_timer }}</label>
				<div class="col-sm-9">
					<select name="ts_countdown_timer_settings[{{ position }}][days]" id="ts_countdown_timer_{{ position }}_days" class="form-control" onchange="countdaysEnable('{{ position }}');">
					{% if (ts_countdown_timer_settings[position]['days'] is defined and ts_countdown_timer_settings[position]['days']) %} 
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
					{% else %} 
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %} 
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="ts_countdown_timer_{{ position }}_countdays"><span data-toggle="tooltip" title="{{ entry_countdays_timer_help }}">{{ entry_countdays_timer }}</span></label>
				<div class="col-sm-9">
					<select name="ts_countdown_timer_settings[{{ position }}][countdays]" id="ts_countdown_timer_{{ position }}_countdays" class="form-control">
					{% if (ts_countdown_timer_settings[position]['countdays'] is defined and ts_countdown_timer_settings[position]['countdays']) %} 
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
					{% else %} 
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %} 
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="ts_countdown_timer_{{ position }}_seconds">{{ entry_sec_timer }}</label>
				<div class="col-sm-9">
					<select name="ts_countdown_timer_settings[{{ position }}][seconds]" id="ts_countdown_timer_{{ position }}_seconds" class="form-control">
					{% if (ts_countdown_timer_settings[position]['seconds'] is defined and ts_countdown_timer_settings[position]['seconds']) %} 
						<option value="1" selected="selected">{{ text_enabled }}</option>
						<option value="0">{{ text_disabled }}</option>
					{% else %} 
						<option value="1">{{ text_enabled }}</option>
						<option value="0" selected="selected">{{ text_disabled }}</option>
					{% endif %} 
					</select>
				</div>
			</div>
		</div>
		{% endfor %} 
	</div>
</fieldset>
<br>
<fieldset>
	<legend>{{ text_settings_title_2 }}</legend>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="ts_countdown_timer_timezone">{{ entry_timezone }}</label>
		<div class="col-sm-10">
			<select name="ts_countdown_timer_settings[timezone]" id="ts_countdown_timer_timezone" class="form-control">
				{% set i = 12 %}{% for i in i..0 %} 
				<option value="+{{ i }}" {% if (ts_countdown_timer_settings['timezone'] is defined and ts_countdown_timer_settings['timezone'] == i) %}selected="selected"{% endif %}>GMT+{{ i <= 9 ? '0'~i : i }}:00 {% if (i == server_timezone) %} {{ text_timezone_default }} {% endif %}</option>
				{% endfor %} 
				{% set i = 1 %}{% for i in i..12 %} 
				<option value="-{{ i }}" {% if (ts_countdown_timer_settings['timezone'] is defined and ts_countdown_timer_settings['timezone'] == ('-'~i)|number_format) %}selected="selected"{% endif %}>GMT-{{ i <= 9 ? '0'~i : i }}:00 {% if (('-'~i)|number_format == server_timezone) %} {{ text_timezone_default }} {% endif %}</option>
				{% endfor %} 
			</select>
		</div>
	</div>
</fieldset>
<br>
</div>

<div class="tab-pane" id="tab-customize">
	<fieldset>
		<legend>{{ text_customize_title_1 }}</legend>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_customize_title_size">{{ entry_customize_title_size }}</label>
			<div class="col-sm-10">
				<input type="text" name="ts_countdown_timer_customize[title_size]" id="ts_countdown_timer_customize_title_size" value="{{ ts_countdown_timer_customize['title_size'] is defined ? ts_countdown_timer_customize['title_size'] : '' }}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_customize_title_style">{{ entry_customize_title_style }}</label>
			<div class="col-sm-10">
				<input type="checkbox" name="ts_countdown_timer_customize[title_style][b]" id="ts_countdown_timer_customize_title_style_b" value="1" {{ ts_countdown_timer_customize['title_style']['b'] is defined and ts_countdown_timer_customize['title_style']['b'] != 0 ? 'checked' : '' }}>&nbsp;<label for="ts_countdown_timer_customize_title_style_b" style="font-weight:bold;">{{ entry_tstyle_bold }}</label><br>
				<input type="checkbox" name="ts_countdown_timer_customize[title_style][i]" id="ts_countdown_timer_customize_title_style_i" value="1" {{ ts_countdown_timer_customize['title_style']['i'] is defined and ts_countdown_timer_customize['title_style']['i'] != 0 ? 'checked' : '' }}>&nbsp;<label for="ts_countdown_timer_customize_title_style_i" style="font-weight:normal;font-style:italic;">{{ entry_tstyle_italic }}</label><br>
				<input type="checkbox" name="ts_countdown_timer_customize[title_style][u]" id="ts_countdown_timer_customize_title_style_u" value="1" {{ ts_countdown_timer_customize['title_style']['u'] is defined and ts_countdown_timer_customize['title_style']['u'] != 0 ? 'checked' : '' }}>&nbsp;<label for="ts_countdown_timer_customize_title_style_u" style="font-weight:normal;text-decoration:underline;">{{ entry_tstyle_underline }}</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_customize_title_color">{{ entry_customize_title_color }}</label>
			<div class="col-sm-10">
				<input type="text" name="ts_countdown_timer_customize[title_color]" id="ts_countdown_timer_customize_title_color" value="{{ ts_countdown_timer_customize['title_color'] is defined ? ts_countdown_timer_customize['title_color'] : '' }}" class="form-control" />
			</div>
		</div>
	</fieldset>
	<br>
	<fieldset>
		<legend>{{ text_customize_title_2 }}</legend>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_customize_tablet_size">{{ entry_customize_tablet_size }}</label>
			<div class="col-sm-10">
				<input type="text" name="ts_countdown_timer_customize[tablet_size]" id="ts_countdown_timer_customize_tablet_size" value="{{ ts_countdown_timer_customize['tablet_size'] is defined ? ts_countdown_timer_customize['tablet_size'] : '' }}" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_customize_tablet_style">{{ entry_customize_tablet_style }}</label>
			<div class="col-sm-10">
				<input type="checkbox" name="ts_countdown_timer_customize[tablet_style][b]" id="ts_countdown_timer_customize_tablet_style_b" value="1" {{ ts_countdown_timer_customize['tablet_style']['b'] is defined and ts_countdown_timer_customize['tablet_style']['b'] != 0 ? 'checked' : '' }}>&nbsp;<label for="ts_countdown_timer_customize_tablet_style_b" style="font-weight:bold;">{{ entry_tstyle_bold }}</label><br>
				<input type="checkbox" name="ts_countdown_timer_customize[tablet_style][i]" id="ts_countdown_timer_customize_tablet_style_i" value="1" {{ ts_countdown_timer_customize['tablet_style']['i'] is defined and ts_countdown_timer_customize['tablet_style']['i'] != 0 ? 'checked' : '' }}>&nbsp;<label for="ts_countdown_timer_customize_tablet_style_i" style="font-weight:normal;font-style:italic;">{{ entry_tstyle_italic }}</label><br>
				<input type="checkbox" name="ts_countdown_timer_customize[tablet_style][u]" id="ts_countdown_timer_customize_tablet_style_u" value="1" {{ ts_countdown_timer_customize['tablet_style']['u'] is defined and ts_countdown_timer_customize['tablet_style']['u'] != 0 ? 'checked' : '' }}>&nbsp;<label for="ts_countdown_timer_customize_tablet_style_u" style="font-weight:normal;text-decoration:underline;">{{ entry_tstyle_underline }}</label>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_customize_tablet_color">{{ entry_customize_tablet_color }}</label>
			<div class="col-sm-10">
				<input type="text" name="ts_countdown_timer_customize[tablet_color]" id="ts_countdown_timer_customize_tablet_color" value="{{ ts_countdown_timer_customize['tablet_color'] is defined ? ts_countdown_timer_customize['tablet_color'] : '' }}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_customize_separator_color">{{ entry_customize_separator_color }}</label>
			<div class="col-sm-10">
				<input type="text" name="ts_countdown_timer_customize[separator_color]" id="ts_countdown_timer_customize_separator_color" value="{{ ts_countdown_timer_customize['separator_color'] is defined ? ts_countdown_timer_customize['separator_color'] : '' }}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_customize_tablet_bgexists">{{ entry_customize_tablet_bgexists }}</label>
			<div class="col-sm-10">
				<select name="ts_countdown_timer_customize[tablet_bgexists]" id="ts_countdown_timer_customize_tablet_bgexists" class="form-control">
				{% if (ts_countdown_timer_customize['tablet_bgexists'] is defined and ts_countdown_timer_customize['tablet_bgexists']) %} 
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
				{% else %} 
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
				{% endif %} 
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_customize_tablet_bgcolor">{{ entry_customize_tablet_bgcolor }}</label>
			<div class="col-sm-10">
				<input type="text" name="ts_countdown_timer_customize[tablet_bgcolor]" id="ts_countdown_timer_customize_tablet_bgcolor" value="{{ ts_countdown_timer_customize['tablet_bgcolor'] is defined ? ts_countdown_timer_customize['tablet_bgcolor'] : '' }}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_customize_tablet_bggrad">{{ entry_customize_tablet_bggrad }}</label>
			<div class="col-sm-10">
				<select name="ts_countdown_timer_customize[tablet_bggrad]" id="ts_countdown_timer_customize_tablet_bggrad" class="form-control">
				{% if (ts_countdown_timer_customize['tablet_bggrad'] is defined and ts_countdown_timer_customize['tablet_bggrad']) %} 
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
				{% else %} 
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
				{% endif %} 
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_customize_tablet_brdexists">{{ entry_customize_tablet_brdexists }}</label>
			<div class="col-sm-10">
				<select name="ts_countdown_timer_customize[tablet_brdexists]" id="ts_countdown_timer_customize_tablet_brdexists" class="form-control">
				{% if (ts_countdown_timer_customize['tablet_brdexists'] is defined and ts_countdown_timer_customize['tablet_brdexists']) %} 
					<option value="1" selected="selected">{{ text_enabled }}</option>
					<option value="0">{{ text_disabled }}</option>
				{% else %} 
					<option value="1">{{ text_enabled }}</option>
					<option value="0" selected="selected">{{ text_disabled }}</option>
				{% endif %} 
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_customize_tablet_brdcolor">{{ entry_customize_tablet_brdcolor }}</label>
			<div class="col-sm-10">
				<input type="text" name="ts_countdown_timer_customize[tablet_brdcolor]" id="ts_countdown_timer_customize_tablet_brdcolor" value="{{ ts_countdown_timer_customize['tablet_brdcolor'] is defined ? ts_countdown_timer_customize['tablet_brdcolor'] : '' }}" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="ts_countdown_timer_customize_tablet_brdradius">{{ entry_customize_tablet_brdradius }}</label>
			<div class="col-sm-10">
				<input type="text" name="ts_countdown_timer_customize[tablet_brdradius]" id="ts_countdown_timer_customize_tablet_brdradius" value="{{ ts_countdown_timer_customize['tablet_brdradius'] is defined ? ts_countdown_timer_customize['tablet_brdradius'] : '' }}" />
			</div>
		</div>
	<fieldset>
</div>

<div class="tab-pane" id="tab-help">
	<div class="form-group">
		<div class="col-sm-12">
			 {{ text_help }} 
		</div>
	</div>
	<div class="form-group text-left">
		<div class="col-sm-12">
			 {{ text_author }} 
		</div>
	</div>
</div>

		</div>
		</form>
	  </div>
	</div>
  </div>
</div>
<link type="text/css" href="view/javascript/tramplin-studio/CountdownTimer/ion-rangeslider/ion.rangeSlider.css" rel="stylesheet" media="screen" />
<link type="text/css" href="view/javascript/tramplin-studio/CountdownTimer/ion-rangeslider/ion.rangeSlider.skinModern.css" rel="stylesheet" media="screen" />
<script type="text/javascript" src="view/javascript/tramplin-studio/CountdownTimer/ion-rangeslider/ion.rangeSlider.min.js"></script>
<link type="text/css" href="view/javascript/tramplin-studio/CountdownTimer/colorpicker/colorpicker.css" rel="stylesheet" media="screen" />
<script type="text/javascript" src="view/javascript/tramplin-studio/CountdownTimer/colorpicker/colorpicker.js"></script>
<script type="text/javascript">
function enableAllSelects(tabId) {
	$("#tab-settings-"+tabId+" select").each(function(){
		$(this).find("option").each(function(){
			if($(this).val()==1) {
				$(this).prop('selected', true);
			}
		});
	});
	titleTextEnable(tabId);
	countdaysEnable(tabId);
}
function disableAllSelects(tabId) {
	$("#tab-settings-"+tabId+" select").each(function(){
		$(this).find("option").each(function(){
			if($(this).val()==0) {
				$(this).prop('selected', true);
			}
		});
	});
	titleTextEnable(tabId);
	countdaysEnable(tabId);
}
function titleTextEnable(tabId) {
	{% for language in languages %} 
	if($("#ts_countdown_timer_"+tabId+"_title").val()!=0) {
		$("#ts_countdown_timer_"+tabId+"_title_text_{{ language['language_id'] }}").prop('disabled', false);
	} else {
		$("#ts_countdown_timer_"+tabId+"_title_text_{{ language['language_id'] }}").prop('disabled', true);
	}
	{% endfor %} 
}
function countdaysEnable(tabId) {
	if($("#ts_countdown_timer_"+tabId+"_days").val()==0) {
		$("#ts_countdown_timer_"+tabId+"_countdays").prop('disabled', false);
	} else {
		$("#ts_countdown_timer_"+tabId+"_countdays").prop('disabled', true);
		$("#ts_countdown_timer_"+tabId+"_countdays option").each(function(){
			if($(this).val()==0) {
				$(this).prop('selected', true);
			}
		});
	}
}
$(function() {
	{% for pid,position in timer_positions %} 
	titleTextEnable('{{ position }}');
	countdaysEnable('{{ position }}');
	{% endfor %} 
});
$(function() {
	$("#ts_countdown_timer_customize_title_size").ionRangeSlider({
		min: 10,
		max: 20,
		step: 1,
		grid: true,
		grid_num: 10
	});
	$("#ts_countdown_timer_customize_tablet_brdradius").ionRangeSlider({
		min: 0,
		max: 20,
		step: 1,
		grid: true,
		grid_num: 20
	});
	$("#ts_countdown_timer_customize_tablet_size").ionRangeSlider({
		min: 20,
		max: 40,
		step: 2,
		grid: true,
		grid_num: 20
	});
	$('#ts_countdown_timer_customize_title_color').css('background-color', '{{ ts_countdown_timer_customize['title_color'] }}');
	$("#ts_countdown_timer_customize_title_color").ColorPicker({
		color: '{{ ts_countdown_timer_customize['title_color'] }}',
		onShow: function (colpkr) {
			$(colpkr).fadeIn(500);
			return false;
		},
		onHide: function (colpkr) {
			$(colpkr).fadeOut(500);
			return false;
		},
		onChange: function (hsb, hex, rgb) {
			$('#ts_countdown_timer_customize_title_color').css('background-color', '#' + hex);
			$("#ts_countdown_timer_customize_title_color").val('#' + hex);
		}
	});
	$('#ts_countdown_timer_customize_tablet_bgcolor').css('background-color', '{{ ts_countdown_timer_customize['tablet_bgcolor'] }}');
	$("#ts_countdown_timer_customize_tablet_bgcolor").ColorPicker({
		color: '{{ ts_countdown_timer_customize['tablet_bgcolor'] }}',
		onShow: function (colpkr) {
			$(colpkr).fadeIn(500);
			return false;
		},
		onHide: function (colpkr) {
			$(colpkr).fadeOut(500);
			return false;
		},
		onChange: function (hsb, hex, rgb) {
			$('#ts_countdown_timer_customize_tablet_bgcolor').css('background-color', '#' + hex);
			$("#ts_countdown_timer_customize_tablet_bgcolor").val('#' + hex);
		}
	});
	$('#ts_countdown_timer_customize_tablet_brdcolor').css('background-color', '{{ ts_countdown_timer_customize['tablet_brdcolor'] }}');
	$("#ts_countdown_timer_customize_tablet_brdcolor").ColorPicker({
		color: '{{ ts_countdown_timer_customize['tablet_brdcolor'] }}',
		onShow: function (colpkr) {
			$(colpkr).fadeIn(500);
			return false;
		},
		onHide: function (colpkr) {
			$(colpkr).fadeOut(500);
			return false;
		},
		onChange: function (hsb, hex, rgb) {
			$('#ts_countdown_timer_customize_tablet_brdcolor').css('background-color', '#' + hex);
			$("#ts_countdown_timer_customize_tablet_brdcolor").val('#' + hex);
		}
	});
	$('#ts_countdown_timer_customize_tablet_color').css('background-color', '{{ ts_countdown_timer_customize['tablet_color'] }}');
	$("#ts_countdown_timer_customize_tablet_color").ColorPicker({
		color: '{{ ts_countdown_timer_customize['tablet_color'] }}',
		onShow: function (colpkr) {
			$(colpkr).fadeIn(500);
			return false;
		},
		onHide: function (colpkr) {
			$(colpkr).fadeOut(500);
			return false;
		},
		onChange: function (hsb, hex, rgb) {
			$('#ts_countdown_timer_customize_tablet_color').css('background-color', '#' + hex);
			$("#ts_countdown_timer_customize_tablet_color").val('#' + hex);
		}
	});
	$('#ts_countdown_timer_customize_separator_color').css('background-color', '{{ ts_countdown_timer_customize['separator_color'] }}');
	$("#ts_countdown_timer_customize_separator_color").ColorPicker({
		color: '{{ ts_countdown_timer_customize['separator_color'] }}',
		onShow: function (colpkr) {
			$(colpkr).fadeIn(500);
			return false;
		},
		onHide: function (colpkr) {
			$(colpkr).fadeOut(500);
			return false;
		},
		onChange: function (hsb, hex, rgb) {
			$('#ts_countdown_timer_customize_separator_color').css('background-color', '#' + hex);
			$("#ts_countdown_timer_customize_separator_color").val('#' + hex);
		}
	});
});
</script>

{{ footer }}