/* display none until init */
/*lemon css starts here*/
.product-carousel {
	display: none;
	opacity: 1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}

#column-left .product-carousel,
#column-right .product-carousel {
	display: block;
}

#column-left .customNavigation,
#column-right .customNavigation {
	display: none;
}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation {
	display: block;
}

.product-carousel .slider-wrapper {
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}

.product-carousel .slider-wrapper-outer {
	overflow: hidden;
	position: relative;
	width: 100%;
	margin: 0 0 0;
}

.banners-slider-carousel .slider-wrapper-outer {
	text-align: center;
}

.product-carousel .slider-wrapper-outer.autoHeight {
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.product-carousel .slider-item {
	float: left;
}

.slider-controls .slider-page,
.slider-controls .slider-buttons div {
	cursor: pointer;
}

.slider-controls {
	-webkit-tap-highlight-color: transparent;
}


/* mouse grab icon */


/* fix */

.product-carousel .slider-wrapper,
.product-carousel .slider-item {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

.product-image .customNavigation a.prev {
	left: 0;
	color: #000000;
	width: 20px;
}

.product-image .customNavigation a.next {
	right: 0;
	color: #000000;
	width: 20px;
}

.product-image .customNavigation a {
	top: 40px;
}

.customNavigation {
	text-align: center;
}

.customNavigation a,
.owl-buttons div {
	display: block;
	cursor: pointer;
	z-index: 1;
	margin: 0;
	width: 20px;
    height: 20px;
	padding: 0;
	font-size: 0;
	line-height: 0;
	color: #6c6c6c;
	background-color:transparent;
	border-radius: 0;
	background-size: 90% !important;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	position: absolute;
	top: 8px;
	bottom: auto;
	right: auto;
	left: auto;
}



.box.latest.product-box .customNavigation a, .box.featured.product-box .customNavigation a{top: 11%;}
#categorycmsblock .owl-buttons div{    top: 32%;}
.customNavigation a:hover,
.owl-buttons div:hover {
		transition: all 0.3s ease-out 0s;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
}

.owl-buttons,
.customNavigation {
	z-index: 1;
}

#homeblog .owl-buttons {
	top: -10px;
}

.banners-slider-carousel .customNavigation {
	position: static;
}

.banners-slider-carousel .customNavigation a {
	position: absolute;
	top: 36%;
	bottom: auto;
	transform: scale(0);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	-moz-transform: scale(0);
	transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
	-o-transition-duration: 300ms;
}

.banners-slider-carousel:hover .customNavigation a {
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-moz-transform: scale(1);
	transition-duration: 300ms;
	-webkit-transition-duration: 300ms;
	-moz-transition-duration: 300ms;
	-ms-transition-duration: 300ms;
	-o-transition-duration: 300ms;
	opacity: 1;
}

.banners-slider-carousel .customNavigation a.prev {
	left: 0;
	right: auto;
}

.banners-slider-carousel .customNavigation a.next {
	right: 0;
	left: auto;
}

#Tab_Category_Slider .owl-buttons {
	top: -10px;
}

#psttestimonialcmsblock .owl-buttons div {
	top: 45%;
}

.customNavigation a.prev,
.owl-buttons .owl-prev {
	background-image: url(../../image/themeimage/pst-prod-prev.svg);
	left: 5%;
	right: auto;
}



.customNavigation a.prev:hover,
.owl-buttons .owl-prev:hover{ 	background-image: url(../../image/themeimage/pst-prod-prev-hover.svg);}
.customNavigation .fa-angle-right:before,
.owl-buttons .fa-angle-right:before,
.customNavigation .fa-angle-left:before,
.owl-buttons.fa-angle-left:before,
.customNavigation .fa-angle-double-left:before,
.customNavigation .fa-angle-double-right:before,
.category_tab .tab-pane .owl-buttons a.fa {
	display: none;
}

.customNavigation a.next,
.owl-buttons .owl-next {
	background-image: url(../../image/themeimage/pst-prod-next.svg);
	right: 5%;
	left: auto;
}
.customNavigation a.next:hover,
.owl-buttons .owl-next:hover {background-image: url(../../image/themeimage/pst-prod-next-hover.svg);}



#categorycmsblock  .owl-buttons .owl-prev{    left: -20px;}
#categorycmsblock  .owl-buttons .owl-next{ right:-20px;}
.testimonial_inner .customNavigation a,
{
	display: none;
}

.product-info .product-image .customNavigation {
	text-align: center;
	width: 100%;
	z-index: 9;
	position: static;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
}

.product-info .product-image .customNavigation a {
	-webkit-tap-highlight-color: transparent;
	display: block;
	float: right;
	height: 20px;
	position: absolute;
	top: -34px;
	width: 16px;
}

.product-info .product-image .customNavigation span.prev {
	color: #ffffff;
    cursor: pointer;
    font-size: 10px;
    left: 0;
    position: absolute;
    top: 36%;
    z-index: 1;
    background-color: #000000;
    width: 22px;
    height: 22px;
    line-height: 16px;
    border: 3px solid #000000;
}

.product-info .product-image .customNavigation span.prev:hover {
	background-color: #7a9066;
	border-color: #7a9066;
	color: #ffffff;
	text-decoration: none;
}

.product-info .product-image .customNavigation span.next {
	color: #ffffff;
    cursor: pointer;
    font-size: 10px;
    right: 0;
    position: absolute;
    top: 36%;
    z-index: 1;
    background-color: #000000;
    width: 22px;
    height: 22px;
    line-height: 16px;
    padding-left: 5px;
    border: 3px solid #000000;
}

.product-info .product-image .customNavigation span.next:hover {
	background-color: #7a9066;
	border-color: #7a9066;
	color: #ffffff;
	text-decoration: none;
}


@media (max-width:1649px){
.box.latest.product-box .customNavigation a, .box.featured.product-box .customNavigation a {
    top: 26px;
}}
@media (max-width:1499px){
.box.latest.product-box .customNavigation a, .box.featured.product-box .customNavigation a {
    top: 10px;
}}



@media (min-width:980px) {
	.customNavigation a,
	.owl-buttons div{
		opacity: 0;
		transform: scale(0);
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		-moz-transform: scale(0);
		transition-duration: 300ms;
		-webkit-transition-duration: 300ms;
		-moz-transition-duration: 300ms;
		-ms-transition-duration: 300ms;
		-o-transition-duration: 300ms;
	}
	.product-box:hover .customNavigation a,
	.product-box:hover .owl-buttons div,
	#homeblog:hover .owl-buttons div,#categorycmsblock:hover .owl-buttons div{
		opacity: 1;
		transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		-moz-transform: scale(1);
		transition: all 0.3s ease-out 0s;
		transition-duration: 300ms;
		-webkit-transition-duration: 300ms;
		-moz-transition-duration: 300ms;
		-ms-transition-duration: 300ms;
		-o-transition-duration: 300ms;
	}
	
	
}



@media only screen and (min-width: 1300px) and (max-width: 1699px) {}

@media (max-width:1299px) {}

@media (max-width:767px) {}

@media (max-width:479px) { .customNavigation a.prev, .owl-buttons .owl-prev{left:0;} .customNavigation a.next, .owl-buttons .owl-next{right:0;}}