<div id="homeblog"  class="home-blog">
<div class="container">

          <div class="title-wrapper"><div class="box-heading">{{ heading_title }}</div>
		    <div class="box-desc">{{ heading_description }}</div> 
		  </div>

      <div class="blog-module latest blog">
         <div class="box">
            {% set sliderFor = 2 %}
            {% set blogCount = blogs|length %}
            
            
			  
            
            <div class="box-content">
               <div class="box-product{% if blogCount >= sliderFor %} owl-carousel blog-carousel blog_grid_holder{% else %} box-grid{% endif %}" id="{% if blogCount >= sliderFor %}blog-carousel{% else %}blog-grid{% endif %}">
                  {% for blog in blogs %} 
                     
                  <div class="{% if blogCount >= sliderFor %}blog_item{% else %}product-items{% endif %}">
                     <div class="product-block">
                        <div class="summary">
                           {% if blog.image %} 
                           <div class="blog-left">
                              <div class="image">
                                 <img src="{{ blog.image }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-thumbnail" />
                                 <div class="blog-icon">
                                    <p class="post_hover"><a class="icon zoom" title="Click to view Full Image" href="{{ blog.image }}" data-lightbox="example-set"><i class="fa fa-search icons"></i></a></p>
                                    <p class="readmore-icon"><a href="{{ blog.href }}" title="Click to Readmore"> <i class="fa fa-link icons"></i> </a> </p>
                                 </div>
                              </div>
                           </div>
                           {% endif %} 
						   
						    
						   	
						   
							
						 <div class="blog-detail">
                     
						          <h2 class="blog_title"><a href="{{ blog.href }}">{{ blog.title }}</a> </h2>
								   <!-- <div class="blog_author">{{ blog.author }}</div>-->

                            <div class="blog_stats">
                                <div class="date-time"> <b class="hl">  {{ blog.date_added }} </b></div>
                            </div> 
							
							<div class="view-blog hidden">
                                <div class="write-comment"> <a href="{{ blog.href }}"> {{ blog.total_comments }} - {{ entry_comment }}</a> </div>		
                           </div>
						  <!-- <div class="bolg_author">
                                <div class="view-comment"> <a href="{{ blog.href }}"> {{blog_comment.author  }} - {{ entry_author  }}</a> </div>		
                           </div>-->
						         
                           <!--<div class="blog-desc">
                              <div class="desc">
                                 <p>{{ blog.description [0:100] }}</p>
                              </div> 
                              {#  will display "25" #}
                              <!-- <div class="readmore">
                                 <p class="btn_readmore"> <a href="{{ blog.href }}"> {{ text_read_more }}</a> </p>
                              </div>

                           </div>-->
						 </div>

						   
                        </div>
                     </div>
                  </div>
                  {% endfor %} 	 
               </div>
               <!--<div class="buttons text-center">
                  <button type="button" onclick="location='{{ all_blogs }} ';" class="btn btn-primary">{{ button_all_blogs }}</button>
                  </div>-->
            </div>
         </div>
      </div>
 </div>
</div>