@charset "UTF-8";
@import "stylesheet.less";
@import "themecss/animate.less";
@import "themecss/slick";

@import "less/menu";
@import "less/bnr-sales";
//@import "less/bnr-yoga";
@import "less/product";

body {
  background-color: #fdfdfd;
  color: #222d38;
}

#footer {
  background: #f5f5f5;
}

.alert {
  padding: 4px 10px;

  &.alert-success {
    background-color: #dff2bf82;
  }

  .progress {
    height: 3px;
    margin: -1px 0 0;
    top: 0;
  }
}

#footer .footer-bottom {
  background: #0d0d0d;
  color: #ddd;

  a {
    color: #eee;
  }
}

.footer {
  .link-block ul a {
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition-duration: 300ms;
  }

  .ft-info {
    p,
    a {
      color: #333;
    }

    .ft-header {
      margin-bottom: 0;

      @media all and (max-width: 767px) {
        text-align: left;
      }
    }

    .main-phone {
      font-size: 16px;
    }

    .ul-list {
      li {
        padding: 0 0 4px;
      }

      &.socials-list {
        li {
          a {
            display: flex;
            align-items: center;
            max-width: 134px;
            margin: 0 auto;

            .icon {
              width: 26px;
              height: auto;
              display: flex;
              align-items: center;
              margin-right: 10px;

              svg {
                width: 26px;
                height: auto;
              }
            }

            .name {

            }
          }
        }
      }
    }
  }

  .low-container {
    display: flex;

    .column {
      p {
        margin: 0;
        line-height: 1.2;

        &.store-line {
          font-size: 14px;
          margin: 0 0 .5em;
        }

        &.legal-line {
          font-size: 12px;
        }
      }

      &.col-left {

      }

      &.col-right {
        img {
          max-width: 100%;
          max-height: 58px;
        }
      }

      @media all and (min-width: 768px) {
        flex: 50%;

        &.col-left {
          text-align: left;
        }

        &.col-right {
          text-align: right;
        }
      }
    }

    @media all and (max-width: 767px) {
      flex: 100%;
      flex-direction: column;

      .col-left {
        margin-bottom: 1em;
      }
    }
  }
}
