{{ header }}
<div class="content-block">
<ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
<div id="information-information" class="content">
  {{ column_left }}
    <div id="informations" class="content-center">
     {{ content_top }}
      <h1 class="heading-title">{{ heading_title }}</h1>
      {{ description }}</div>
    {{ column_right }}
</div>
{{ content_bottom }}
</div>
{{ footer }}