{#<div class="bnr-yoga">
    <a href="https://yogaminsk.by/"
       target="_blank"
       title="Йога в Минске для улучшения здоровья и внешнего вида">
        <div class="bnr-block">
            <div class="bnr-line">
                <div class="bnr-logo">
                    <img src="https://yogaminsk.by/assets/images/-12x-115x69.png"
                         alt="Йога Минск">
                </div>

                <div class="bnr-title">
                    <span>YogaMinsk.By</span>
                </div>
            </div>
        </div>
    </a>
</div>#}

{% for module in modules %}
{{ module }}
{% endfor %}