<footer>
	<div id="footer" class="footer">
		{% if footer_top|trim|length > 20 %}
			<div class="footer-top">
				<div class="container">
					{{ footer_top }}
				</div>
			</div>
		{% endif %}

		<div class="ft-info footer-center-content">
			<div class="container">
				<div class="row">
					<div class="footer-left column col-md-3 col-lg-3 link-block first">
						{#<div class="footer_logo">
							<div id="logo">
								{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}"
										alt="{{ name }}" class="img-responsive" /></a>{% else %}
								<h1><a href="{{ home }}">{{ name }}</a></h1>
								{% endif %}
							</div>
						</div>#}

						<div class="ft-left">
							<div class="box-heading">
								<h4 class="ft-header">Информация</h4>
							</div>

							<ul class="ul-list">
								{% for information in informations %}
									<li>
										<a href="{{ information.href }}">{{ information.title }}</a>
									</li>
								{% endfor %}

								<li><a href="{{ contact }}">{{ text_contact }}</a></li>
								<li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
							</ul>
						</div>
					</div>

					<div class="col-md-6 col-lg-6 column common link-block third ">
						<div class="ft-center">
							<div class="box-heading">
								<h4 class="ft-header">{{ text_account }}</h4>
							</div>

							<ul class="ul-list">
								<li><a href="{{ account }}">{{ text_account }}</a></li>
							</ul>
						</div>
					</div>

					<div class="column fourth footer-right col-md-3 col-lg-3">
						<div class="ft-right">
							<div class="box-heading">
								<h4 class="ft-header">Контакты</h4>
							</div>

							<div>
								<p class="main-phone">
									<a href="tel:+375296044283">+375 (29) 604-42-83</a>
								</p>

								<p>При любых вопросах обращайтесь к нашим консультантам:</p>
							</div>

							<ul class="ul-list socials-list">
								<li>
									<a href="viber://pa?chatURI=teapot" target="_blank">
										<span class="icon">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 viewBox="0 0 52.511 52.511" style="enable-background:new 0 0 52.511 52.511;" xml:space="preserve">
	<g>
	<g>
		<path d="M31.256,0H21.254C10.778,0,2.255,8.521,2.255,18.995v9.01c0,7.8,4.793,14.81,12,17.665v5.841
			c0,0.396,0.233,0.754,0.595,0.914c0.13,0.058,0.268,0.086,0.405,0.086c0.243,0,0.484-0.089,0.671-0.259L21.725,47h9.531
			c10.476,0,18.999-8.521,18.999-18.995v-9.01C50.255,8.521,41.732,0,31.256,0z M48.255,28.005C48.255,37.376,40.63,45,31.256,45
			h-9.917c-0.248,0-0.487,0.092-0.671,0.259l-4.413,3.997v-4.279c0-0.424-0.267-0.802-0.667-0.942
			C8.81,41.638,4.255,35.196,4.255,28.005v-9.01C4.255,9.624,11.881,2,21.254,2h10.002c9.374,0,16.999,7.624,16.999,16.995V28.005z"
		/>
		<path d="M39.471,30.493l-6.146-3.992c-0.672-0.437-1.472-0.585-2.255-0.423c-0.784,0.165-1.458,0.628-1.895,1.303l-0.289,0.444
			c-2.66-0.879-5.593-2.002-7.349-7.085l0.727-0.632h0c1.248-1.085,1.379-2.983,0.294-4.233l-4.808-5.531
			c-0.362-0.417-0.994-0.46-1.411-0.099l-3.019,2.624c-2.648,2.302-1.411,5.707-1.004,6.826c0.018,0.05,0.04,0.098,0.066,0.145
			c0.105,0.188,2.612,4.662,6.661,8.786c4.065,4.141,11.404,7.965,11.629,8.076c0.838,0.544,1.781,0.805,2.714,0.805
			c1.638,0,3.244-0.803,4.202-2.275l2.178-3.354C40.066,31.413,39.934,30.794,39.471,30.493z M35.91,34.142
			c-0.901,1.388-2.763,1.782-4.233,0.834c-0.073-0.038-7.364-3.835-11.207-7.75c-3.592-3.659-5.977-7.724-6.302-8.291
			c-0.792-2.221-0.652-3.586,0.464-4.556l2.265-1.968l4.152,4.776c0.369,0.424,0.326,1.044-0.096,1.411l-1.227,1.066
			c-0.299,0.26-0.417,0.671-0.3,1.049c2.092,6.798,6.16,8.133,9.13,9.108l0.433,0.143c0.433,0.146,0.907-0.021,1.155-0.403
			l0.709-1.092c0.146-0.226,0.37-0.379,0.63-0.434c0.261-0.056,0.527-0.004,0.753,0.143l5.308,3.447L35.91,34.142z"/>
		<path d="M28.538,16.247c-0.532-0.153-1.085,0.156-1.236,0.688c-0.151,0.531,0.157,1.084,0.688,1.235
			c1.49,0.424,2.677,1.613,3.097,3.104c0.124,0.44,0.525,0.729,0.962,0.729c0.09,0,0.181-0.012,0.272-0.037
			c0.531-0.15,0.841-0.702,0.691-1.234C32.405,18.578,30.69,16.859,28.538,16.247z"/>
		<path d="M36.148,22.219c0.09,0,0.181-0.012,0.272-0.037c0.532-0.15,0.841-0.703,0.691-1.234c-1.18-4.183-4.509-7.519-8.689-8.709
			c-0.531-0.153-1.084,0.158-1.235,0.689c-0.151,0.531,0.157,1.084,0.688,1.235c3.517,1,6.318,3.809,7.311,7.328
			C35.311,21.931,35.711,22.219,36.148,22.219z"/>
		<path d="M27.991,7.582c-0.532-0.153-1.085,0.156-1.236,0.689c-0.151,0.531,0.157,1.084,0.688,1.235
			c5.959,1.695,10.706,6.453,12.388,12.416c0.124,0.44,0.525,0.729,0.962,0.729c0.09,0,0.181-0.012,0.272-0.037
			c0.531-0.15,0.841-0.703,0.691-1.234C39.887,14.753,34.613,9.467,27.991,7.582z"/>
	</g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	<g>
	</g>
	</svg>
										</span>
										<span class="name">
											Вайбер
										</span>
									</a>
								</li>

								<li>
									<a href="https://t.me/wwwteapotby_bot" target="_blank">
										<span class="icon">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
											<g>
												<g>
													<path d="M490.626,153.442c-13.697-31.292-33.236-59.158-58.073-82.819c-3.207-3.055-8.28-2.933-11.335,0.275
														c-3.054,3.206-2.931,8.28,0.275,11.333c48.024,45.751,74.473,107.464,74.473,173.769c0,132.318-107.648,239.967-239.967,239.967
														S16.033,388.318,16.033,256S123.682,16.033,256,16.033c48.336,0,94.93,14.306,134.742,41.369
														c3.661,2.489,8.647,1.538,11.137-2.122c2.489-3.662,1.538-8.648-2.123-11.137C357.274,15.265,307.565,0,256,0
														C187.62,0,123.333,26.628,74.981,74.981C26.629,123.333,0,187.62,0,256s26.629,132.667,74.981,181.019
														C123.333,485.372,187.62,512,256,512s132.667-26.628,181.019-74.981C485.371,388.667,512,324.38,512,256
														C512,220.348,504.808,185.842,490.626,153.442z"/>
												</g>
											</g>
											<g>
												<g>
													<path d="M372.333,108.552l-154.176,71.771c-4.014,1.868-5.753,6.638-3.884,10.652s6.638,5.755,10.65,3.885l95.106-44.274
														l-46.237,37.431l-106.107,85.896l-58.036-25.392l81.326-37.858c4.014-1.87,5.753-6.638,3.884-10.652
														c-1.868-4.014-6.639-5.755-10.65-3.885l-87.54,40.752c-4.654,2.166-7.592,6.905-7.474,12.035c0.115,5.02,3.149,9.538,7.748,11.55
														l64.802,28.35l18.979,113.873c1.168,7.041,10.702,9.046,14.613,3.075l53.836-82.171l101.811,47.512
														c8.157,3.81,17.864-2.012,18.39-10.966l14.344-243.849c0.015-0.226,0.014-0.458,0.009-0.685
														C383.567,109.927,377.471,106.176,372.333,108.552z M190.018,360.931l-12.404-74.428l126.369-102.299l-96.718,108.441
														c-0.87,0.976-1.516,2.204-1.816,3.479L190.018,360.931z M207.049,358.631l11.72-49.228l15.724,7.338L207.049,358.631z
														 M243.371,303.191l-16.967-7.917l83.469-93.586L297.8,220.116L243.371,303.191z M353.637,354.649l-95.586-44.607l107.897-164.684
														L353.637,354.649z"/>
												</g>
											</g>
											<g>
											</g>
											<g>
											</g>
											<g>
											</g>
											<g>
											</g>
											<g>
											</g>
											<g>
											</g>
											<g>
											</g>
											<g>
											</g>
											<g>
											</g>
											<g>
											</g>
											<g>
											</g>
											<g>
											</g>
											<g>
											</g>
											<g>
											</g>
											<g>
											</g>
											</svg>
										</span>
										<span class="name">
											Telegram
										</span>
									</a>
								</li>

								<li>
									<a href="https://www.instagram.com/teapot.by/" target="_blank">
										<span class="icon">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256" height="256" viewBox="0 0 256 256" xml:space="preserve">
												<defs>
												</defs>
												<g transform="translate(128 128) scale(0.72 0.72)" style="">
													<g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;" transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)" >
													<path d="M 63.429 2 C 76.977 2 88 13.023 88 26.571 v 36.858 C 88 76.977 76.977 88 63.429 88 H 26.571 C 13.023 88 2 76.977 2 63.429 V 26.571 C 2 13.023 13.023 2 26.571 2 H 63.429 M 63.429 0 H 26.571 C 11.896 0 0 11.896 0 26.571 v 36.858 C 0 78.104 11.896 90 26.571 90 h 36.858 C 78.104 90 90 78.104 90 63.429 V 26.571 C 90 11.896 78.104 0 63.429 0 L 63.429 0 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
													<path d="M 45 25.542 c 10.729 0 19.458 8.729 19.458 19.458 S 55.729 64.458 45 64.458 S 25.542 55.729 25.542 45 S 34.271 25.542 45 25.542 M 45 23.542 c -11.851 0 -21.458 9.607 -21.458 21.458 S 33.149 66.458 45 66.458 S 66.458 56.851 66.458 45 S 56.851 23.542 45 23.542 L 45 23.542 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
													<circle cx="69.043" cy="20.983" r="4.683" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform="  matrix(1 0 0 1 0 0) "/>
													<path d="M 69.047 18.296 c 1.479 0 2.683 1.203 2.683 2.683 s -1.203 2.683 -2.683 2.683 s -2.683 -1.203 -2.683 -2.683 S 67.568 18.296 69.047 18.296 M 69.047 16.296 c -2.586 0 -4.683 2.097 -4.683 4.683 s 2.097 4.683 4.683 4.683 s 4.683 -2.097 4.683 -4.683 S 71.634 16.296 69.047 16.296 L 69.047 16.296 z" style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
												</g>
												</g>
											</svg>
										</span>
										<span class="name">
											Instagram
										</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			{% if footer_bottom|trim|length > 20 %}
				<div class="container">
					{{ footer_bottom }}
				</div>
			{% endif %}

			<div class="container low-container">
				<div class="column col-left">
					<p class="store-line">
						<a href="//teapot.by"><strong>Teapot.by</strong></a> &ndash;
						магазин чая, кофе и сопутствующих товаров.
					</p>

					<p class="legal-line">
						ИП Филиппов Андрей Владимирович<br/>
						Свидетельство о государственной регистрации №290752864, выдано Кобринским РИК 27.07.2009.
						Юр.&nbsp;адрес: 2-ая Шестая линия, 11/1, 37.
						Рег.&nbsp;номер в Торговом реестре Беларуси: 516477 от 11 августа 2021.

{#						ИП Филиппов Андрей Владимирович, УНП&nbsp;290752864.<br/>#}
{#						Рег.&nbsp;номер в Торговом реестре Беларуси: 516477 от 11 августа 2021.#}
{#						Юр.&nbsp;адрес: 225306, Брестская обл., г.&nbsp;Кобрин, ул. 700 лет Кобрина, 18-36.#}
					</p>
				</div>

				<div class="column col-right">
					<p class="text-center">Принимаем к оплате:</p>
					<img src="/image/catalog/payment.png" alt=""/>
				</div>
			</div>
		</div>
	</div>
</footer>

<script async>
	document.addEventListener('DOMContentLoaded', function() {
		let lazyImages = [].slice.call(document.querySelectorAll('img.lazy'));
		let active = false;

		const lazyLoad = function() {
			if (active === false) {
				active = true;

				setTimeout(function() {
					lazyImages.forEach(function(lazyImage) {
						if (
								(
										lazyImage.getBoundingClientRect().top <= window.innerHeight &&
										lazyImage.getBoundingClientRect().bottom >= 0)
								&&
								getComputedStyle(lazyImage).display !== 'none'
						)
						{
							if ('undefined' !== typeof lazyImage.dataset.srcset) {
								lazyImage.srcset = lazyImage.dataset.srcset;
							}

							lazyImage.src = lazyImage.dataset.src;
							lazyImage.classList.remove('lazy');

							lazyImages = lazyImages.filter(function(image) {
								return image !== lazyImage;
							});

							if (lazyImages.length === 0) {
								document.removeEventListener('scroll', lazyLoad);
								window.removeEventListener('resize', lazyLoad);
								window.removeEventListener('orientationchange', lazyLoad);
							}
						}
					});

					active = false;
				}, 50);
			}
		};

		document.addEventListener('load', lazyLoad);
		setTimeout(function () {
			lazyLoad();
		}, 150);

		document.addEventListener('scroll', lazyLoad);
		window.addEventListener('resize', lazyLoad);
		window.addEventListener('orientationchange', lazyLoad);
	});
</script>

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body>
<div class="the-theme-footer" hidden></div>
</html>
