{{ header }}

<div id="common-home">

	{{ column_left }}

	{% if column_left and column_right %}
	{% set class = 'col-sm-6' %}
	{% elseif column_left or column_right %}
	{% set class = 'col-sm-9' %}
	{% else %}
	{% set class = 'col-sm-12' %}
	{% endif %}

	<div id="content1" class="content_top">
		<div class="container">
			{{ content_top }}
		</div>
	</div>
	<div id="content" class="content_bottom">
		{{ content_bottom }}
	</div>
	{{ column_right }}
</div>

{{ footer }}