{{ header }}
 <div class="content-block">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
<div id="error-not-found" class="content">
   {{ column_left }}
    <div id="content" class="content-center">{{ content_top }}
      <h1 class="heading-title">{{ heading_title }}</h1>
      <p>{{ text_error }}</p>
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      </div>
    {{ column_right }}
</div>
{{ content_bottom }}
</div>
{{ footer }}
