<footer>
    <div class="foot-wrapp">
      {% if informations %}
      <div class="col-footer">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-footer">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-footer">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-footer">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
</footer>
<div class="powered-block">
     <div class="powered">
         &copy; {{ 'now'|date('Y') }}
     </div>
     <div class="money-block">
            <img src="catalog/view/theme/fanes/image/icons_money/mastercard.png" alt="card-mastercard">
            <img src="catalog/view/theme/fanes/image/icons_money/visa.png" alt="card-visa">
            <img src="catalog/view/theme/fanes/image/icons_money/webmoney.png" alt="webmoney">
            <img src="catalog/view/theme/fanes/image/icons_money/qiwi.png" alt="qiwi">
            <img src="catalog/view/theme/fanes/image/icons_money/yandex-money.png" alt="yandex-money">
     </div>
</div>
</div>

<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->

<script src="catalog/view/theme/fanes/javascript/common.min.js" type="text/javascript"></script>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="catalog/view/theme/fanes/javascript/click.min.js" type="text/javascript"></script>
{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
</body></html>