{{ header }}
 <div class="content-block">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
<div id="common-success" class="content">
  {{ column_left }}
    <div class="content-center">{{ content_top }}
      <h1 class="heading-title">{{ heading_title }}</h1>
         <div class="text-message">{{ text_message }}</div>
      <div class="buttons">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      </div>
    {{ column_right }}
</div>
{{ content_bottom }}
</div>
{{ footer }}