{{ header }}
<div class="content-block">
<ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
<div id="account-return" class="content">
 {{ column_left }}
    <div id="accounts" class="content-center">
     {{ content_top }}
      <h1 class="heading-title">{{ heading_title }}</h1>
      {% if returns %}
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <td class="text-right">{{ column_return_id }}</td>
              <td class="text-left">{{ column_status }}</td>
              <td class="text-left">{{ column_date_added }}</td>
              <td class="text-right">{{ column_order_id }}</td>
              <td class="text-left">{{ column_customer }}</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
          
          {% for return in returns %}
          <tr>
            <td class="text-right">#{{ return.return_id }}</td>
            <td class="text-left">{{ return.status }}</td>
            <td class="text-left">{{ return.date_added }}</td>
            <td class="text-right">{{ return.order_id }}</td>
            <td class="text-left">{{ return.name }}</td>
            <td class="text-right"><a href="{{ return.href }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
          </tr>
          {% endfor %}
            </tbody>
          
        </table>
      </div>
      <div class="pagination-block">
        <div class="paginations">{{ pagination }}</div>
        <div class="results-text">{{ results }}</div>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}
      <div class="buttons clearfix">
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      </div>
    {{ column_right }}
</div>
{{ content_bottom }}
</div>
{{ footer }} 